@model IPM.API.Models.Pest_Solution

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pest Solution</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pest.P_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pest.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Solution.Sol_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Solution.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PSol_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
